




/* from 1024 to 1200  big devices*/
@media only screen and (max-width:1200px){
    .hero-text-box{
    width: 100%;
    padding:  2%
    }
    .row{padding: 0 2%}   
}

/* from 768 to 1023 small tablet to big tablet */
@media only screen and (max-width:1023px){
    body {font-size: 18px;}
    section{padding: 60px 0}
    .long-copy{
        width: 80%;
        margin-left: 10%
    }
    .app-screen{width: 50%}
    .box-work{margin-top: 10px}
    .box-work:last-child{margin-top: 25px;}
    .steps{margin-bottom: 50px;}
    .steps:last-of-type{margin-bottom: 50px;}
    .icon-small{
        width: 15px;
        margin-right: 5px
    }
    .section-cities{font-size: 90%}
    .plan-box{width: 100%}
    .plan-price{font-size: 250%}
    .contact-form{width: 80%}
    .app-button img{margin-right: 5px}
    
}


/* from 480 to 767 small phone and small tablet */
@media only screen and (max-width:767px){
    body{font-size: 16px;}
    section{padding: 30px 0}
    .hero-text-box,
    .row{padding: 0 4%}
    .main-nav{display: none}
    .col{width: 100% ; margin: 0 0 4% 0}
    h1{font-size: 180%}
    h2{font-size: 150%}
        .long-copy{
        width: 100%;
        margin-left: 0
    }
    .steps{margin-bottom: 20px;}
    .steps:last-of-type{margin-bottom: 20px;}
    .steps div{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 4px;    
    margin-right: 15px;
    font-size: 120%;
    }
    .box-work:first-child{text-align: center}
    .app-screen{width: 40%}

}

/* from 0 to 480 */
@media only screen and (max-width:480px){
    section{padding: 25px 0}
    .contact-form{width: 100%}
    .app-button img{height: 30px; margin-top: 15px}
}