
section.intro{
    padding-top: $paddingTop + 40;
    padding-bottom: $paddingBottom + 40;
    background-color: $primaryColor;
}
article{
  h2{
    color: #fff;
  }
  span{
    background: #fff;
  }
}
