body{
  background-color: #232323;
  font-family: Avenir;
  margin: 0
}

h1{
  color: white;
  text-align: center;
  color: white;
  background: steelblue;
  margin: 0;
  padding: 20px 0;
  line-height: 1.1;
  font-weight: normal;
  text-transform: uppercase;
}
.square{
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
  border-radius: 15%;
  transition: background 0.3s;
}
.container{
  width: 600px;
  margin: 0 auto;
  margin-top: 20px 
}

#Div{
  background-color: white;
  height: 30px;
  text-align: center;
  color: balck
}
.selectedBtn{
  background: steelblue;
  font-weight:bold;
  color: white

}

#rgbSpan
{
  font-size: 200%
}

button{
  border: 0;
  background: none;
  height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  color: steelblue;
  font-size: inherit;
  transition: all 0.3s
}

button:hover{
  background: steelblue;
  font-weight:bold;
  color: white
}
#message{
  width: 20%;
  display: inline-block;
  font-weight: bold;
  font-size: inherit
}
