.comments{
  .img_com .comments_img{
    width: 100%;
    height: 100px;
    // background-image: url("../img/SingleBlog/img-3.jpg");
    @extend %backgroundStyle;
  }
}
.img_com:nth-child(1) >.comments_img {
  background-image: url("../img/SingleBlog/img-1.jpg");
}

.img_com:nth-child(3) >.comments_img {
  background-image: url("../img/SingleBlog/img-2.jpg");
}

.img_com:nth-last-child(2) >.comments_img {
  background-image: url("../img/SingleBlog/img-3.jpg");
}
