.post{
  .img_post{
    width: 100%;
    height: 584px;
    background-image: url("../img/SingleBlog/post-prev-1.jpg");
  }
}

.testimonails{
  background: $bg-gray;
  .fa-quote-right{
    font-size: 2rem;
    color: $borderColor;
  }
  p{
    line-height: 1.4rem
  }
}
