// Include OPTIMA Font 
@font-face{font-family: 'optima'; src: url('../fonts/OPTIMA.TTF')};
@font-face{font-family: 'optima'; font-weight: bold; src: url('../fonts/OPTIMA_B.TTF')};

// Include segoeui Font
@font-face{font-family: 'segoeui'; src: url('../fonts/segoeui.ttf')};
@font-face{font-family: 'segoeuil'; font-weight: 100; src: url('../fonts/segoeuil.ttf')};

// Include Montserrat Font
@font-face{font-family: 'Montserrat'; src: url('../fonts/Montserrat-Light.otf')};

// Include calibrii Font
@font-face{font-family: 'calibrii'; src: url('../fonts/CalibriL.ttf')};
