// Color
$main-color: #008795;
$accent-color: #8dc143;
$black-color: #000;
$white-color: #fff;
$gray-color: #d9d9d9;
$gray-color-1: #a8a9ad;
$dark-color: #4a4a4a;

// Size
$size: 10px; 

// Font
$optima: "optima";
$segoeui: "segoeui";
$segoeuil: "segoeuil";
$Montserrat: "Montserrat";
$calibrii: "calibrii";